<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129513730222-26l7l3e823jevptt5kfkkt56druflt65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129513730222-26l7l3e823jevptt5kfkkt56druflt65</string>
	<key>API_KEY</key>
	<string>AIzaSyCTCWRg9AOFv50EggclfIpxh1KKd-6BhWE</string>
	<key>GCM_SENDER_ID</key>
	<string>129513730222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maenzaga.reactnativegithub</string>
	<key>PROJECT_ID</key>
	<string>react-native-github-ea2b0</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-github-ea2b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129513730222:ios:2f874a9f5d48d4f0a97d3f</string>
</dict>
</plist>